# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
azure-functions-durable
azure-identity
azure-data-tables
azure-storage-blob
openpyxl==3.1.5
urllib3